.completed {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
}

.completed__main {
  flex: 1;
  display: flex;
  justify-content: center;

  background-image: url("../../assets/confetti.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 60px;
}

.completed__content {
  width: 1440px;
  max-width: 100%;
  text-align: center;
  padding: 0 24px;
  padding-top: 135px;
}

.completed__timer {
  width: 610px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", cursive;
  font-size: 160px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 14px 12px 0 rgba(80, 210, 255, 0.35);
}

.completed__title {
  margin: -17px 0 0;
  font-family: "Italianno", cursive;
  font-size: 120px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #000000;
}

.completed__subtitle {
  margin: 46px 0 0;

  font-family: "Marko One", serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.015em;

  color: #ffffff;
}

.completed__meta {
  margin: 25px 0 0;

  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.015em;

  color: #000000;
}

.completed__button {
  margin: 32px auto 0;
  width: 300px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Marko One", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 22px;
  background: white;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.completed__button:hover {
  transform: translateY(-1px);
}

.completed__button:active {
  transform: translateY(0px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 390px) {
  .completed__content {
    padding-top: 120px;
  }

  .completed__timer {
    width: 300px;
    height: 150px;
    font-size: 80px;
    text-shadow: 8px 7px 0 rgba(80, 210, 255, 0.32);
  }

  .completed__title {
    font-size: 60px;
    margin-top: -10px;
  }

  .completed__subtitle {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
  }

  .completed__meta {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .completed__button {
    width: 220px;
    height: 40px;
    font-size: 18px;
    line-height: 24px;
    background: white;
  }
}
