.header {
  width: 100%;
  height: 80px;
  background-color: #f3f3f3;
}

.header__inner {
  height: 100%;
  padding: 16px 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo {
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.5px;
  user-select: none;
  white-space: nowrap;
}

.header__logoBlack {
  color: #111;
  font-weight: 700;
}

.header__logoBlue {
  color: #79c6e6;
  font-weight: 700;
}

.header__nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
  flex: 1;
  min-width: 0;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}
