.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.page__content {
  max-width: 1360px;
  font-size: 20px;
  width: 100%;
}
