.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-height: 100vh;
  max-height: 100vh;
}

.page__content {
  max-width: 1360px;
  font-size: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
